<p id="notice">
	<%= notice %>
</p>
<p>
	<b>User on date:</b> 
	<%= select_tag :user_log, options_from_collection_for_select(@user_log.user.user_logs, 'id', 'date', @user_log.id), :include_blank => true %>
</p>
<table>
	<% @user_attributes.each_pair do |column, value| %>
	<tr>
		<td><%= content_tag :b, column.titleize %>:</td>
		<td><%= value %></td>
	</tr>
	<% end %>
</table>